@import "../../../../styles/_var";


.catCard{
    padding: 24px;
    position: relative;
    height: 30vh;
    box-sizing: border-box;
    @media(max-width: 760px) {
        height: 100%;
    }
&:hover{
    height: 100%;
    padding:0;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
    .catCardLike{
        display: block;
    }
}
}

.catCard__img{
    height:100%;
    width: 100%;
}




.catCardLike{
    position: absolute;
    display: none;
    right: 24px;
    bottom: 24px;
    cursor: pointer;
}